Flask>=0.10.1
'Flask-SQLAlchemy
SQLAlchemy>=0.9.9
Flask-Babel
Flask-Migrate
flask-restful>=0.3.2
itsdangerous
Flask-Passlib
Flask-HTTPAuth
Flask-WTF>=0.10.0
WTForms>=2.0.1
WTForms-Alchemy>=0.12.8
WTForms-Components>=0.9.5
marshmallow>=0.7.0