body {
    padding-top: 70px;
    padding-bottom: 20px;
}
.navbar {
    background-color: #e0e0e0;
}

.sidebar {
    background-color: #f7f5fa;
    border-radius: 5px;
}

a.note-controls {
    text-decoration: none;
    padding: 4px;
}

a.note-controls:hover {
    background-color: #428bca;
    color: #ffffff;
}