<!DOCTYPE html>
<html ng-app="MarginaliaApp" ng-controller="ApplicationController as AppCtrl">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Marginalia</title>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="./static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="icon-paperclip"></i> Marginalia</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">{{ _('Home') }}</a></li>
                <li ><a href="#/about">{{ _('About') }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My notes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Restore password</a></li>
                        <li><a href="#">My books</a></li>
                        <li><a href="#">My profile</a></li>
                        <li><a href="#">My friends</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
{% block content %}{% endblock %}
<script src="./static/bower_components/jQuery/dist/jquery.js"></script>
<script src="./static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="{{ url_for('static', filename='js/lib/mithril.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/mithril.validator.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>